# Dependencies
node_modules/
.env

# Build files
*.zip

# Logs
*.log

# IDE
.vscode/
.idea/

# AWS
.aws/

# OS
.DS_Store
Thumbs.db

# Exclude ve-ai-test-app since it's managed in its own GitHub repo
ve-ai-test-app/
